# FCM Configuration
FCM_PROJECT_ID=your-firebase-project-id
FCM_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
FCM_CLIENT_EMAIL=your-firebase-client-email

# WhatsApp Configuration
WHATSAPP_TOKEN=your-whatsapp-access-token
WHATSAPP_PHONE_ID=your-whatsapp-phone-number-id

# JWT Configuration
JWT_SECRET=your-jwt-auth-secret-key
